@import url('reset.css');
@import url('popcorn.css');

body {
    font:17px "Source Sans Pro";
    background: url(../img/biggie.jpg) no-repeat center center fixed;
    background-position:0px 70px;
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
}

h1 {
    position:absolute;
    bottom:0;
    padding:70px;
    font-size:40px;
    font-weight:300;
    color:#777;
}

h1 > i {
    margin-top:20px;
}

nav {
    position:relative;
    background:#222;
    padding:10px;
    height:60px;
}

nav.toggle {
   height: 100%;
}

nav > ul > li {
    display:inline-block;
}

nav > ul > li > a,a:visited {
    color:#777;
    font-weight:300;
    display:block;
    padding:10px
}

nav > ul > li > a,a:visited {
    color:#777;
    font-weight:300;
    display:block;
    padding:10px
}


.active {
    color:#fff!important;
    font-weight:600;
}

nav > ul > li > a:hover {
    color:#fff;
}

.nav-btn {
    position:absolute;
    top:20px;
    right:25px;
    display:none;
}

 /* Landscape and down
===============================*/
@media (max-width: 480px) {
    body {
        background: url(../img/biggie-iphone.jpg) no-repeat center center fixed;
        background-position:0px 60px;
        -webkit-background-size: cover;
           -moz-background-size: cover;
             -o-background-size: cover;
                background-size: cover;
    }

    h1 {
        display:none;
    }

    .nav-btn {
        display:block;
    }

    nav {
        height:60px;
        overflow:hidden;
    }

    nav > ul > li {
        display:block;
    } 

    nav > ul > li > a:hover {
        color:#fff;
        background:rgba(0,0,0,.3);
        border-radius:4px;
    }
}

/* Landscape to Tablet Portrait
===============================*/
@media (min-width: 481px) and (max-width: 800px) {
    body {
        background: url(../img/biggie-port.png) no-repeat center center fixed;
        background-position:0px 60px;
        -webkit-background-size: cover;
           -moz-background-size: cover;
             -o-background-size: cover;
                background-size: cover;
    }

    .nav-btn {
        display:block;
    }

    h1 {
        display:none;
    }

    nav {
        height:60px;
        overflow:hidden;
    }

    nav > ul > li {
        display:block;
    } 

    nav > ul > li > a:hover {
        color:#fff;
        background:rgba(0,0,0,.3);
        border-radius:4px;
    }
}

/* Landscape Tablet to Desktop
===============================*/
@media (min-width: 801px) and (max-width: 1100px) {
    body {
        background: url(../img/biggie-ipad.jpeg) no-repeat center center fixed;
        background-position:0px 60px;
        -webkit-background-size: cover;
           -moz-background-size: cover;
             -o-background-size: cover;
                background-size: cover;
    }

    h1 {
        display:none;
    }

}